@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=M+PLUS+Rounded+1c&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #9ddac5;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-q-header.is-open .t-q-header-background {
  left: 0;
}
.t-q-header-button-wrapper {
  margin-left: auto;
}
.t-q-header-icon {
  display: none;
}

.t-q-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-q-navigation-list.is-open {
  right: 0;
}
.t-q-header-icon-menu {
  display: block;
}

.t-q-header-icon-button.is-open .t-q-header-icon-menu {
  display: none;
}

.t-q-header-icon-button.is-open .t-q-header-icon-close {
  display: block;
}

.t-q-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: auto;
}

.t-q-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #9ddac5;
}
.t-q-header.is-open .t-q-header-background {
  left: 0;
}
.t-q-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-q-header-icon-menu {
  display: block;
}

.t-q-header-icon-button.is-open .t-q-header-icon-menu {
  display: none;
}

.t-q-header-icon-button.is-open .t-q-header-icon-close {
  display: block;
}

.t-q-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 48px 42px 0;
  position: relative;
}

.t-q-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 112px 0 112px 128px;

  gap: 32px;
  background: #9ddac5;
}

.t-q-navigation-list.is-open {
  right: 0;
}

.t-q-navigation-link {
  font-family: Rounded Mplus 1c;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #3c3a33;
}

.t-q-navigation-link:hover,
.t-q-navigatioт-link:focus {
  color: #b94e13;
}

.t-q-header.is-open {
  background-color: transparent;
}

.t-q-navigation-img {
  display: none;
}

@media screen and (min-width: 1212px) {
  .t-q-navigation-img {
    display: flex;
  }
  .t-q-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .t-q-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #9ddac5;
  }

  .t-q-header-background {
  }
  .t-q-header-icon-button {
    display: none;
  }
  .t-q-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-q-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-q-navigation-link {
    font-family: Rounded Mplus 1c;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0 50px;
    text-decoration: none;
  }

  .t-q-navigation-item-desk {
    display: none;
  }
}
.t-q-home {
  margin: auto;
}
.t-q-home-container {
  width: 375px;
  padding: 208px 20px 0px;
  margin: auto;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home\ mobile.png");
}

.t-q-home-title-img {
  width: 335px;
}

@media screen and (min-width: 1212px) {
  .t-q-home {
    padding: 0;
  }
  .t-q-home-container {
    width: 1440px;
    padding: 138px 400px 0;
    height: 820px;
    background-image: url("/img/home/Home.png");
  }

  .t-q-home-title-img {
    width: 640px;
  }
}
.t-q-about {
  margin: auto;
  width: 375px;
  padding-top: 80px;
}
.t-q-about-container {
  padding: 0px 20px 0px;
  margin: auto;
  height: 568px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About.png");
}
.t-q-about-title {
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  color: #b94e13;
}
.t-q-about-text-one {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-top: 294px;
}
.t-q-about-text {
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 20px;
}

.t-q-about-text-bold {
  font-family: Rounded Mplus 1c;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1212px) {
  .t-q-about {
    width: 1440px;
    padding: 140px 80px 0;
  }
  .t-q-about-container {
    height: 535px;
    background-image: url("/img/About\ the\ game.png");
    padding: 0;
  }
  .t-q-about-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .t-q-about-text-one {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

    padding-top: 114px;
    padding-left: 758px;
  }
  .t-q-about-text {
    padding-left: 758px;
    padding-top: 20px;
  }
}
.t-q-why {
  margin: auto;
  width: 375px;

  padding: 80px 20px 0;
}

.t-q-why-container {
  height: 1269px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Merge\ magic.png");
  margin: auto;
}
.t-q-why-list {
  display: flex;
  flex-direction: column;
  padding-top: 446px;
  gap: 438px;
}
.t-q-why-text-bold {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.t-q-why-text {
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 20px;
}

@media screen and (min-width: 1212px) {
  .t-q-why {
    width: 1440px;
    padding: 140px 80px 0;
  }
  .t-q-why-container {
    height: 435px;
    background-image: url("/img//Verge\ magic.png");
  }

  .t-q-why-list {
    display: flex;
    flex-direction: row;
    padding-top: 123px;
    gap: 23px;
    justify-content: center;
  }
  .t-q-why-item {
    width: 305px;
  }
}
.t-q-characters-container {
  padding: 80px 20px 0;
  margin: auto;
  width: 375px;
}
.t-q-characters-list {
  padding-top: 28px;
}
.t-q-characters-lists {
  display: none;
}
.t-q-characters-item {
  width: 335px;
  height: 231px;
  padding-top: 22px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;
  border-radius: 40px;

  margin: 0 10px;
  background: #b5edd9;
}

.t-q-characters-text {
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding: 16px 0 18px;
}
.t-q-characters-text-bold {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #30877d;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 1212px) {
  .t-q-characters-container {
    padding: 140px 80px 0px;
    margin: auto;
    width: 1440px;
  }
  .t-q-characters-list {
    display: none;
  }
  .t-q-characters-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 36px;
  }
  .t-q-characters-item {
    width: 413px;
    height: 231px;
    gap: 16px;
    padding-top: 22px;
    padding-right: 25px;
    padding-bottom: 22px;
    padding-left: 25px;
    border-radius: 40px;

    margin: 0;
    background: #b5edd9;
  }
}

.t-q-faq-container {
  padding: 80px 20px;
  width: 375px;
  margin: auto;
}
.t-q-faq-list {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.t-q-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-radius: 40px;
  border-width: 1px;
  padding: 10px;
  border: 1px solid #30877d;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #30877d;
}

.t-q-faq-answer {
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #3c3a33;
}
.t-q-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  margin-top: 4px;
  border-radius: 40px;
  border-width: 1px;
  padding: 10px;
  border: 1px solid #3c3a33;
}
.t-q-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.t-q-toggle-button img {
  transition: transform 0.3s ease;
  width: 36px;
  height: 36px;
}
.t-q-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  opacity: 0;
}

.t-q-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1212px) {
  .t-q-faq-container {
    padding: 140px 405px;
    width: 1440px;

    margin: auto;
  }
  .t-q-faq-list {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .t-q-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.t-q-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}
.t-q-gallery-list {
  width: auto;
  padding-top: 28px;
  margin: auto;
}

.t-q-gallery-item {
  width: 335px;
  height: 155px;
  border-radius: 40px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.t-q-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.t-q-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1212px) {
  .t-q-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .t-q-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .t-q-gallery-button-icon {
    width: 48px;
    height: 48px;
  }
  .t-q-gallery-button:hover {
    scale: 120%;
  }

  .t-q-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 140px 80px 0px;
  }
  .t-q-gallery-item {
    width: 448px;
    height: 207px;
    border-radius: 40px;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .t-q-gallery-item.slick-center {
    width: 630px;
    height: 291px;
  }
  .t-q-gallery-list {
    padding: 36px 0 28px;
    height: 340px;
  }
}

.t-q-features-container {
  width: 375px;
  margin: auto;
  padding: 86px 20px 0px;
}
.t-q-features-list {
  padding-top: 28px;
}
.t-q-features-lists {
  display: none;
}
.t-q-features-item {
  width: 197px;
  height: 256px;
  gap: 14px;
  border-radius: 40px;
  padding: 16px 13px;
  background: #b5edd9;

  margin: 0 10px;
}

.t-q-features-img {
  margin: 0 auto;
}

.t-q-features-text-bold {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  color: #30877d;
  padding: 14px 0 8px;
}

.t-q-features-text {
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #3c3a33;
}

@media screen and (min-width: 1212px) {
  .t-q-features-container {
    width: 1440px;
    margin: auto;
    padding: 140px 80px 0px;
  }

  .t-q-features-list {
    display: none;
  }
  .t-q-features-lists {
    display: flex;
    padding-top: 36px;
    gap: 20px;
  }
}

.t-q-policy-terms-container {
  padding: 118px 20px 80px;
  width: 375px;
  margin: auto;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #3c3a33;
}

.t-q-policy-terms-container h1 {
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  color: #b94e13;
  margin-bottom: 28px;
}
.t-q-policy-terms-container h2 {
  margin-top: 20px;
  font-family: Rounded Mplus 1c;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-q-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.t-q-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1212px) {
  .t-q-policy-terms-container {
    padding: 108px 180px 100px;
    width: 1440px;
    font-family: Rounded Mplus 1c;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-q-policy-terms-container h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 34px;
  }
  .t-q-policy-terms-container h2 {
    font-family: Rounded Mplus 1c;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-q-footer-container {
  background: #30877d;

  color: #b5edd9;
  width: 375px;
  padding: 49px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.t-q-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-q-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.t-q-footer-copyright {
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1212px) {
  .t-q-footer-container {
    width: 1440px;
    padding: 46px 180px;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .t-q-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 276px;
  }

  .t-q-footer-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .t-q-footer-copyright {
    font-family: Rounded Mplus 1c;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-q-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 21px;
  background: #b5edd9;

  z-index: 1000;
  display: none;
}

.t-q-cookie-popup-text-two {
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: #3c3a33;
}

.t-q-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.t-q-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #3c3a33;
  width: 295px;

  border-radius: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #3c3a33;
}

#accept-cookies {
  background: #3c3a33;

  color: #b5edd9;
}

.t-q-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1212px) {
  .t-q-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
  }

  .t-q-cookie-popup-text-two {
    font-family: Rounded Mplus 1c;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 595px;
  }

  .t-q-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  .t-q-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 34px;
    display: none;
  }
}
